<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Animail Tracking</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{% static 'assets/sweetalert.css' %}">

      <style>
    #mycontainer {
  transition: transform 0.3s;
}
.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
</style>

    </head>
    <body>




    {% block content %}
    {% endblock %}




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="modal" id="modal_data" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">Are You want to start counting</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="target" class="btn btn-primary btn-sm">Hold 3 Second</button>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function () {
        var d = new Date();
        var n = d.toLocaleTimeString();
        document.getElementById("today_time").innerHTML = n;
    });
    function roate_image(){
        $('#mycontainer').toggleClass('rotate');
    }
    function plus_count()
    {
        // swal("Good job!", "You clicked the button!", "success");

        $('#modal_data').modal('show');
    }

    $( "#target" ).on({
    mousedown: function() {
        $(this).data('timer', setTimeout(function() {
              foo();
        }, 3000));
    },
    mouseup: function() {
        clearTimeout( $(this).data('timer') );
    }
});
function foo() {
    alert('Yaay !')
}
</script>
    </body>
</html>