{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
.col_4{
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
.section_style{
  background-color:rgb(2, 32, 82);
  height: 100vh;
}
.image_div_data{
  margin-left: auto;
  margin-right: auto;
}
.four_digit_access_pin{
  color: #fff;
  font-size: 20px;
  font-family: monospace;
}
.save_data{
  background: #fff;
  color: 000;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 29px;
  font-weight: 700;
  font-size: 21px;
}
</style>
<section class="section_style section_one">
  <div class="container" style="padding-top: 200px;">
    <form class="abc_data" id="form_data" method="POST">
      <div class="row">
        <div class="image_div_data">
          <img src="{% static 'image/LOGO.png' %}" class="img-fluid" alt="alt" />
        </div>
        <div class="col-4 col-md-4 col_4">
          <label class="control-label four_digit_access_pin">Enter 4 digit Access Number:</label>
          <div class="form-group">
            <div class="row">
              <div class="col-3 col-md-3">
                <input name="one" class="same_input form-control" type="text" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
              </div>
              <div class="col-3 col-md-3">
                <input name="two" class="same_input form-control" type="text" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /> 
              </div>
              <div class="col-3 col-md-3">
                <input name="three" class="same_input form-control" type="text" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
              </div>
              <div class="col-3 col-md-3">
                <input name="four" class="same_input form-control" type="text" maxlength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <button class="btn btn-default save_data" type="submit">Save</button>
      </div>
    </form>
  </div>
</section>
<style>
.section_two{
  background-color:rgb(2, 32, 82);
  height: 100vh;
}
.Adjust_Distance{
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.Level_2_Risk_div .Level_2_Risk{
  font-size: 25px;
  color: #fff;
  font-family: monospace;
}
.select::after{
  content: '\25BC';
  position: absolute;
  top: 0px;
  left: 122px;
  /* padding: 1em; */
  /* background-color: #032052; */
  transition: .25s all ease;
  pointer-events: none;
  background: #fff;
  padding-left: 7px;
  padding-right: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.select select{
  -webkit-appearance: none;
}
.log_out{
  background: #fff;
  color: 000;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 29px;
  font-weight: 700;
  font-size: 21px;
}
</style>
<section class="section_two" style="display: none;">
  <div class="container" style="padding-top: 180px;">
    <div class="text-center">
      <h3 class="text-white Adjust_Distance">Adjust Distance Sensitivity:</h3>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 text-right Level_2_Risk_div">
        <h5 class="Level_2_Risk">Level 2 Risk:</h5> 
      </div>
      <div class="col-md-6 text-left">
        <div class="form-group">
          <div class="select">
            <input type="text" value="1" class="form-control level_two" style="width:100px;" name="leve_3">
          </div>
        </div>
      </div>
      <div class="col-md-6 text-right Level_2_Risk_div">
        <h5 class="Level_2_Risk">Level 3 Risk:</h5> 
      </div>
      <div class="col-md-6 text-left">
        <div class="form-group">
          <div class="select">
            <input type="text" value="2" class="form-control level_three" style="width:100px;" name="leve_4">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'image/image_1.png' %}" class="img-fluid" alt="alt">
      </div>
      <div class="col-md-6">
        <img src="{% static 'image/image_2.png' %}" class="img-fluid" alt="alt">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="text-center">

          <button class="btn btn-default log_out" onclick="logout()" type="button">Logout</button> &nbsp;
          <button class="btn btn-default log_out" onclick="get_value(event)" type="button">Start</button>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

  $("#form_data").submit(function (e) {
    e.preventDefault();
    // var formData = new FormData();
    var form = $(this)[0];
    // FormData object 
    var data = new FormData(form);
    $.ajax({
     type: 'POST',
     url: "/save_data/",
     data: data,
     contentType: false,
     cache: false,
     processData: false,
     success: function (data){
      if (data == 'success'){
        $('.section_one').hide()
        $('.section_two').show();
      }

    },
  });
  });

  function logout(){
   $('.section_one').show()
   $('.section_two').hide();

 }



 function get_value(event){

  debugger;

  event.preventDefault();
  var lvl_2 = $('.level_two').val();
  var lvl_3 = $('.level_three').val();

  var formData = new FormData();
  formData.append('lvl_2' ,lvl_2);
  formData.append('lvl_3',lvl_3);
  var url = "/index/"
  debugger;
   $.ajax({
     type: 'POST',
     url: url,
     data: formData,
     contentType: false,
     cache: false,
     processData: false,
     success: function (data){
      console.log('abc');

    },
  });

}

  // $(function() {
  // 'use strict';
  // var body = $('body');
  // function goToNextInput(e) {
    // var key = e.which,
    // t = $(e.target),
    // sib = t.next('input');

    // if (key != 9 && (key < 48 || key > 57)) {
    //   e.preventDefault();
    //   return false;
    // }
    // if (key === 9) {
    //   return true;
    // }

//     if (!sib || !sib.length) {
//       sib = body.find('input').eq(0);
//     }
//     sib.select().focus();
//   }
//   function onKeyDown(e) {
//     var key = e.which;

//     if (key === 9 || (key >= 48 && key <= 57)) {
//       return true;
//     }
//     e.preventDefault();
//     return false;
//   }
//   function onFocus(e) {
//     $(e.target).select();
//   }
//   body.on('keyup', 'input', goToNextInput);
//   body.on('keydown', 'input', onKeyDown);
//   body.on('click', 'input', onFocus);
// })





</script>

{% endblock %}
